name: Sincronizar Meta Valle

on:
  schedule:
    - cron: '30 11 * * 1'   # executa a cada 1 hora
  workflow_dispatch:       # permite executar manualmente

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          pip install pandas psycopg2-binary requests

      - name: Executar sincronização
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          python metas_valle.py
